@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

html {
    scroll-behavior: smooth; 
}

body {
  background-color: #22232a;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.site_container {
  margin: 0 auto;
}

.navigation {
  list-style: none;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  gap: 25px;
  margin: 25px;
  color: #bebab4;
  font-size: large;
}

.photo_and_name_section {
  display: flex;
  gap: 140px;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin: 100px 0 40px 140px;
}

.cv_photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid #f7f7f6;
}

.cv_name {
  font-weight: 300;
  font-size: xxx-large;
  color: #f7f7f6;
}

.job {
  color: #bebab4;
  font-weight: 300;
  font-size: larger;
}

hr {
  width: 90%;
  color: #bebab4;
  margin-top: 40px;
  margin-bottom: 60px;
}

.cv_section {
  width: 90%;
  background-color: #46413b;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.cv_sections_header {
  font-weight: 300;
  font-size: x-large;
  color: #f7f7f6;
  padding: 30px;
  padding-bottom: 10px;
}

.cv_sections_description {
  color: #bebab4;
  font-weight: 300;
  font-size: larger;
  padding: 20px;
}

.contact_information_item {
  color: #bebab4;
  margin-right: 20px;
}

.cv_skills_list {
  color: #bebab4;
  font-weight: 300;
  font-size: larger;
  padding: 40px;
}

.cv_skills_list_item {
  margin-bottom: 10px;
}

.cv_about_myself_section_desctiption {
  color: #bebab4;
  font-weight: 300;
  font-size: larger;
  padding: 20px;
  width: 60%;
}

.about_myself_section {
  display: flex;
  width: 90%;
  background-color: #46413b;
  margin: 0 auto;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.cv_languages_list {
  color: #bebab4;
  font-weight: 300;
  font-size: larger;
  padding: 40px;
}

.cv_education_section_desctiption {
  color: #bebab4;
  font-weight: 300;
  font-size: larger;
  padding: 20px;
  width: 60%;
}

.education_sections_header {
  font-weight: 200;
  font-size: large;
  color: #f7f7f6;
}

.education_sections_description {
  color: #bebab4;
  font-weight: 300;
  font-size: medium;
}

.education_sections_links {
  color: #bebab4;
  font-weight: 300;
  font-size: medium;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.git_hub_logo {
    width: 100px;
    height: auto;
}

.footer_date {
  font-weight: 400;
  font-size: medium;
  color: #f7f7f6;
}
